@import 'colors.less';
@import 'layout.less';
@import 'sidebar.less';
@import 'typography.less';

body {
  color: @dark-grey;
}

a {
  color: @dark-blue;
  text-decoration: none;
  &:hover {
    color: @light-blue;
    text-decoration: underline;
  }
}

.blog-logo img {
  border-radius: 50px;
}
